{
    "presets": [
        [
            "@babel/preset-env",
            {
                "modules": false,
                "targets": {
                    "browsers": ["last 2 versions", "ie >= 10"],
                    "node": "current"
                }
            }
        ],
        "@babel/preset-flow"
    ],
    "plugins": ["@babel/plugin-transform-runtime"]
}
