docs/
!lib/*
.travis/
test/
.nyc_output/
.travis.yml
venv/
coverage/
.direnv/
.envrc
gh-pages/
browser/
.nyc_output/
coverage/
tmp/
src/
.github/
.editorconfig
.prettierignore
.prettierrc
.ackrc
.babelrc
.eslintrc
README.md
